// main: style.scss

$primary-color: #ffc521;
$text-color: #231F20;


// Fonts

$title-font-family: "Roboto Slab", sans-serif;
$main-font-family: "Roboto", sans-serif;

@mixin font-regular {
    font-family: $main-font-family;
    font-weight: normal;
    line-height: 1;
}

@mixin font-medium {
    font-family: $main-font-family;
    font-weight: 500;
    line-height: 1;
}

@mixin font-light {
    font-family: $main-font-family;
    font-weight: 300;
    line-height: 1;
}

@mixin font-semi-bold {
    font-family: $main-font-family;
    font-weight: 600;
    line-height: 1;
}

@mixin font-extra-bold {
    font-family: $main-font-family;
    font-weight: 800;
    line-height: 1;
}

// Fonts End
